@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  min-width: 100%;
  padding: 0;
}

body {
  width: 100%;
  height: 175vh;
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #fff;
  width: 100%;
  font-size: 6vw;
  text-align: center;
  margin-top: 2rem;
}

h2 {
  font-size: 1.5vw;
  font-family: "Roboto Slab", serif;
}

p {
  font-size: 1vw;
  color: #0b0b0b;
}

section {
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding-bottom: 10em;
}

section div {
  display: flex;
  flex: 0.9;
  flex-direction: column;
}

section h2 {
  display: flex;
  align-self: center;
  justify-self: center;
}

section hr {
  border: none;
  width: 5%;
  background-color: #0b0b0b;
  height: 2px;
  align-self: center;
  margin: 1em 0;
}

footer {
  display: flex;
  flex: 0.25;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #0b0b0b;
}

footer a,
footer p {
  font-weight: 300;
  color: #fff;
}

#home {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0;
}

#home nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 12.5%;
  width: 100%;
  transition: 0.5s;
}

#home li {
  padding: 0 1em;
}

#home li a {
  display: block;
  padding: 0.25;
  color: #fff;
  text-decoration: none;
  transition: 0.25s;
}

#home li a:hover {
  display: block;
  padding: 0.25;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: 0.25s;
}

#home div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo-large {
  display: flex;
  padding-top: 10em;
  flex: 0.5;
}

#home div h2 {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  flex: 0.25;
  color: #fff;
  padding: 0;
  text-align: center;
}

#home div div {
  flex: 1;
}

#home div div a {
  text-decoration: none;
}

#menu-button {
  border: solid white 2px;
  flex: 0.125;
  min-width: 100px;
  max-height: 5em;
  border-radius: 5px;
  margin-top: 2rem;
  transition: 0.5s;
}

#home div div div p {
  color: #fff;
  font-size: 20px;
  padding: 2em 2em;
}

#menu-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0);
  transform: translateY(-2em);
  transition: 0.5s;
}

/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#menu-price {
  width: 25%;
} */

iframe {
  height: 100%;
}

@media only screen and (min-width: 1101px) {
  #home ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    justify-content: end;
    align-items: center;
  }
  #phone {
    color: #fff;
    margin-top: 1em;
    font-size: 1.9vw;
  }
  #about {
    display: flex;
    flex-direction: row;
    background-image: url("images/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #about div {
    display: flex;
    flex-direction: row;
    margin: 10em 0 0 10em;
  }
  #about div div {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 2em 0 0 5em;
    color: #0b0b0b;
  }
  #about div div h2 {
    display: auto;
    align-self: auto;
    justify-self: auto;
    font-size: 2rem;
  }
  #about div div div {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0;
  }
  #about-image {
    display: flex;
    width: 45%;
    height: auto;
    object-fit: scale-down;
  }
  #about-p-one {
    margin-right: 1em;
    font-size: 1rem;
    color: #0b0b0b;
    align-self: start;
  }
  #gallery {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding-bottom: 10em;
  }
  #gallery div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #gallery div img {
    width: 45%;
    height: 400px;
    margin: 0 0.5em;
    object-fit: cover;
    transition: 0.5s;
  }
  #gallery div img:hover {
    width: 50%;
    transition: 0.5s;
  }
  #order {
    background-image: url("images/bg2.png");
    background-attachment: fixed;
  }
  #impressum {
    color: #fff;
    margin-left: 2em;
  }
  #copyright {
    color: #fff;
    margin: 2em 0;
  }
  #last-updated {
    color: #fff;
    margin-right: 2em;
  }
  #menu {
    margin: 0 10em 5em 10em;
    padding-bottom: 10em;
    height: fit-content;
  }
}

@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 9vw;
  }
  h2 {
    font-size: 5vw;
    text-align: center;
  }
  p {
    font-size: 3vw;
    color: #0b0b0b;
  }
  section hr {
    border: none;
    width: 10%;
    background-color: #0b0b0b;
    height: 2px;
    align-self: center;
    margin: 1em 0;
  }
  #home i {
    position: fixed;
    font-size: 2em;
    margin: 2em;
    color: #fff;
    z-index: 10;
    text-shadow: -1px 0 #0b0b0b, 0 1px #0b0b0b, 1px 0 #0b0b0b, 0 -1px #0b0b0b;
    transition: 0.5s;
  }

  #home i:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.25s;
  }
  #phone {
    color: #fff;
    margin-top: 1em;
    font-size: 5vw;
  }
  #home nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: -100%;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
  }
  #home ul {
    list-style-type: none;
    width: 75%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #0b0b0b;
    font-size: 5vw;
    height: 100%;
  }
  #home li a:hover {
    display: block;
    padding: 0.25em 0.25em 0.25em 1em;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: 0.25s;
  }
  #home div div h2 {
    font-size: 3vw;
  }
  #about {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-image: url("images/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2em;
  }
  #about div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10em 0;
    background-color: #f5f5f5;
  }
  #about div img {
    width: 50%;
    height: auto;
    display: flex;
    align-self: center;
  }
  #about div div {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #0b0b0b;
    margin: 2em 2em 0 2em;
  }
  #about div div div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2em 2em;
    text-align: center;
  }
  #about-p-one {
    margin-bottom: 2em;
  }
  #gallery {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #f5f5f5;
    padding-bottom: 10em;
  }
  #gallery div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #gallery div img {
    width: 90%;
    height: 400px;
    margin: 1em 0.5em;
    object-fit: cover;
    transition: 0.5s;
  }
  #gallery div img:hover {
    width: 95%;
    transition: 0.5s;
  }
  #menu {
    margin: 1em 1em 5em 1em;
  }
  footer {
    display: flex;
    flex: 0.25;
    flex-direction: column;
    padding: 2em 0;
  }
  footer a {
    margin-bottom: 1em;
  }
  footer p {
    margin-bottom: 1em;
    width: 75%;
  }
}





.collapsible {
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.5s;
}

.active, .collapsible:hover {
  background-color: #0B0B0B;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  overflow: hidden;
  height: 0px;
  transition: 0.2s ease-out;
  background-color: #f1f1f1;
}

table {
  height: 0px;
  transition: 0.5s;
}